.cards__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    gap: 40px 20px;
    justify-content: center;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;

}

.cards {
    padding-top: 20px;
}

@media screen and (max-width: 627px) {

    .cards__list {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 20px 0;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }
}