.card {
   max-width: 413px;
}


.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.card__image {
    width: 413px;
    height: 413px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__like-button {
    background-image: url(../images/Heart-like-button.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    border: none;
    opacity: 0.4;
    cursor: pointer;

}

.card__like-button:hover {
    cursor: pointer;
    opacity: 1;
}

.card__title {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
    font-weight: 500;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #212121;
}

@media screen and (max-width: 627px) {

    .card {
        max-width: 288px;
        margin-bottom: 20px;
    }


    .card__image {
        width: 288px;
        height: 288px;
    }

    .card__title {
        max-width: 200px;
    }
}
   