.footer__copyright {
    width: 104px;
    height: 16px;
    font-weight: 400;
    color: #212121;
    font-size: 16px;
    line-height: 1;
    padding: 60px 0 60px 0
}

.footer {
    display: flex;
    justify-content: center;
}