
.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33,0.4) solid;
}


.profile__add-btn {
    margin-left: auto;
    width: 149px;
    height: 52px;
    margin-top: auto;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #FCF5E5; 
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.8;
}

.profile__edit-btn {
    display: flex;
    gap: 8px;
    margin-top: 18px;
    margin-right: auto;
    background: none;
    border: none;
    opacity: 0.7;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #212121;
}

.profile__edit-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
    border-radius: 8px;
}

.profile__column {
    display:flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    display: -webkit-box;
    max-width: 420px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.profile__description {
    margin: 0;
     display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 627px) {

    .profile {
        flex-direction: column;
        width: 288px;
        align-items: center;
        text-align: center;
    }

    .profile__avatar {
        margin-right: 0;
        height: 80px;
        width: 80px;
    }

    .profile__add-btn {
        width: 100%;
        margin-top: 20px;
    }

    .profile__edit-btn {
        margin: 0 auto;
        padding: 0;

    }

    .profile__name {
        max-width: 288px;
        font-size: 20px;
    }

    .profile__description {
        margin-bottom: 32px;
        max-width: 288px;
    }
}